{% extends 'base.html' %}

{% block content %}
<h3 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Products List Information</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <td scope="col">Product Name</td>
            <td scope="col">Price (Kshs)</td>
            <td scope="col">Description</td>
            <td scope="col">Action</td>
            <td scope="col">Action</td>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <th scope="row">{{ product.title }}</th>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td><a style="margin-right: 30px;" href="{% url 'update-product' product.id %}">Update</a></td>
            <td><a style="margin-right: 30px;" href="{% url 'delete-product' product.id %}">Delete</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    </table>
</div>

<div class="text-center">
    <a href="{% url 'create-product' %}"><button type="button" class="btn btn-primary">Add New Products</button></a>
</div>
{% endblock content %}